/* h2, h6 {
	color: darkblue;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
} */
body {
	margin: 0;
}
img {
	margin: 0 0 35px 0;
	width: 400px;
	height: 175px;
	border: none;
}