.navBar a { 
	margin: 0 50px;
	color: rgb(0, 51, 255);
	/* text-shadow: 0 0 3px black; */
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.navBar a:hover,.navBar a:active {
	text-decoration: underline overline;
	text-underline-offset: 7px;
	text-shadow: none;
}