.navBar{
	padding-top: 25px;
}
.navBar a { 
	padding: 0 50px;
	color: darkblue;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.navBar a:hover {
	text-decoration: underline;
	text-underline-offset: 6px;
}