.profile {
	width: 25vw;
	max-width: 25vw;
	height: 38vh;
	max-height: 38vh;
}
#profile-image {
	width: 176px;
	max-width: 176px;
	height: 176px;
	max-height: 176px;
	box-shadow: 0 0 20px -2px black;
	position: relative;
	top: 1vh;
	cursor: pointer;
}
#signout {
	border: none;
	background-color: transparent;
	width: 100px;
	font-size: 24px !important;
	display: block;
	margin-left: 40% !important;
}
#signout:hover {
	color: cyan;
	text-shadow: 0 0 10px black;
}