li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	padding: 1vw 1vw;
	height: 520px;
	width: 400px;
	margin: 0 15px 50px 15px;
}
li div{
	background-color: transparent !important;
	border-radius: 8px;
	border: none !important;
}
ul {
	position: relative;
}
.wrapper {
	padding-top: 0.75rem;
}
.Card-Image {
	height: 275px;
	width: 375px;
	margin-top: 8px;
	margin-bottom: 0;
	border-radius: 2px;	
	border: none;
}
.Card-Body {
	height: 520px;
	width: 400px;
	border: transparent;
	/* border-radius: 24px; */
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;;
}
.Card-Body:hover {
	box-shadow: 0 0 6px -1px darkblue;
}
.Card-Subtitle {
	font-size: 26px;
	color: darkblue;
	font-weight: bold;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.Card-Text {
	font-size: 20px;
	color: black;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	margin-bottom: 0;
}
.Card-Button {
	background: transparent;
	font-size: 18px;
	color: blue;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	border: none;
	cursor: pointer;
}
.Card-Button:hover {
	position: relative;
	top: 0.5px;
	left: 0.5px;
}
.Card-Button:active {
	color: darkblue;
}
.Card-Spans {
	padding-left: 30px;
}