/* Form */
	.form-div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#search-main {
		width: 440px !important;
		max-width: 400px !important;
		height: 230px !important;
		max-height: 230px !important;
	}
	form {
		font-size: 22px;
		border: transparent 1px solid;
		border-radius: 4px;
		padding: 15px;
		width: 400px;
		height: 240px;
		margin-bottom: 30px;
		color: black;
		line-height: 1;
	}
/* Errors */
	#form-error1, #form-error2, #form-error3 {
		visibility: hidden;
		text-decoration: underline;
		text-underline-offset: 5px;
		font-weight: 800;
		position: relative;
		color:red;
		text-shadow: 1px 1px 2px black, 0 0 3px black, 0 0 15px white;
		letter-spacing: 2px;
	}
/*  */
	#Search-Again {
		background: transparent;
		font-size: 15px;
		color: black;
		/* text-shadow: 0 0 4px black; */
		border: none;
		cursor: pointer;
	}
	#Search-Again:hover {
		position: relative;
		top: 1px;
		left: 1px;
	}
	#Search-Again:active {
		color: rgb(86, 149, 174);
	}

.radioBath label {
	cursor: pointer;
	font-size: 20px;
}
.radioBath label input{
	margin-right: 5px;
}
.radioBath {
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: left;
	display: inline-block;
}
.bedBath {
	margin-left: 9px;
	display: inline-block;
}
.bedBath label {
	margin: 0 10px;
	font-size: 20px;
}
.bedBath select {
	font-size: 18px;
}
#zipSearch, #maxBudget {
	float: right;
	height: 25px;
	width: 110px;
	margin-right: 20px;
	padding: 5px 0 5px 5px;
	font-size: 18px;
}
.Zip-Budget {
	margin-bottom: 15px;
}
input::placeholder {
	padding-left: 5px;
	font-size:medium;
}
input:active {
	border-radius: 0;
}

	/* Form Submit Button */
#form-btn {
	margin-top: 20px;
	width: 300px;
	border-radius: 3px;
	border: black 1px solid;
	height: 28px;
	font-size: 16px;
}
#form-btn:hover{
	background-color: rgb(211, 211, 211);
}
#form-btn:active {
	position: relative;
	left: 1px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}